

.single-card-container{
    background-color: rgb(47, 47, 54);
    height: 100vh;
}
.detail-card{
    width: 50%;
    margin: auto; 
}
.single-card{
    background-color: rgb(204, 204, 204);
}
.single-card div a button{
    background-color: rgb(175, 22, 175);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.single-card div a button:hover{
    background-color: tomato;
    color: black;
    padding: 12px;
    transition: .2s;
}
@media only screen and (max-width:550px) {
    .detail-card{
        width: 90%;
    }
}