.home-in-compo {
  /* background-color: ; */
  /* scroll-behavior: auto; */
}
.icon-link {
  text-decoration: none;
}
.all-icon:hover {
  border: 3px solid #0d6efd;
  color: #0d6efd;
}
.resume-btn:hover {
  background-color: #0d6efd;
  border: 4px solid #b2c1d4;
  color: white;
}
