


.resume-btn{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(85, 85, 247);
    color: white;
    font-weight: 600;
}
.resume-btn:hover{
    background-color: rgb(201, 85, 247);
    color: black;
    transition: .5s;
}