
.banner-container{
    background-color: rgb(230, 230, 230);
    padding-bottom: 10rem;
    padding-top: 5rem;
}
.banner-detail{
    padding-top: 10rem;
}
.banner-detail h1{
    font-family: "fangsong";
}
.banner-detail a{
    margin-top: 20px;
}
.banner-resume{
    background-color: tomato;
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.banner-resume:hover{
    background-color: rgb(94, 146, 78);
    padding: 20px;
    color: black;
    font-size: 20px;
    transition: .5s;
}

@media only screen and (max-width:550px) {
    .banner-detail{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}