.bar-body {
  background-color: #d5d6da;
}
.dark-bar-body {
  background-color: #1c1e25;
}
.my-img {
  border: 10px solid #b2c1d4;
  width: 100%;
  border-radius: 50%;
}
.dark-my-img {
  border: 10px solid #373b47;
  width: 100%;
  border-radius: 50%;
}
.toggle-box {
  background-color: rgba(128, 128, 128, 0.527);
}
.sun-icon i {
  font-size: 30px;
  padding-right: 15px;
}
.icon-light i {
  color: black;
}
.icon-dark i {
  color: white;
}
.item-list .single-Item:hover {
  color: #0d6efd;
  background: green;
  background: linear-gradient(to left, #0d6dfd2c 50%, lightblue 50%) right;
  background-size: 200%;
  transition: 0.9s ease-out;
}
.all-lisst {
  list-style: none;
}
.link-Item {
  text-decoration: none;
  color: rgb(59, 59, 59);
  font-size: 30px;
}
.dark-link-Item {
  text-decoration: none;
  color: rgb(235, 231, 231);
  font-size: 30px;
}
.item-list:after {
  content: "";
}
.color-Item {
  color: pink;
  background-color: yellow;
}

.item-list .all-lisst .active {
  color: #0d6efd;
  background-color: red;
}
.side-bar-btn:hover {
  color: white;
}
.copy-right {
  color: rgb(59, 59, 59);
}
.dark-copy-right {
  color: rgb(235, 231, 231);
}
.LDashboard {
  /* background-color: green; */
  background-color: #10121b;
  color: white;
  height: 10vh;
}
.DDashboard {
  background-color: white;
  color: black;
  height: 100%;
}
